<div class="container">
    @if (!ifCreatePlayerCharacter) {
        <div class="button-bar">
            <div class="dropdown">
                <button class="dropdown-toggle" (click)="toggleDropdown()">Difficulty</button>
                @if (isOpen) {
                    <ul class="dropdown-menu">
                        <li (click)="generateEnemies(3)">Easy</li>
                        <li (click)="generateEnemies(4)">Medium</li>
                        <li (click)="generateEnemies(5)">Hard</li>
                    </ul>
                }
            </div>
            <button class="button" (click)="generatePlayerCharacters()">Choose your party</button>
            <button class="button" (click)="onStartGame()">Start Game</button>
        </div>
    }
    
    @if(ifCreatePlayerCharacter){
        <app-character-creation (closeCharacterCreation)="generatePlayerCharacters()"></app-character-creation>
    }
</div>