<div class="game-grid">
  <div class="button-bar">
    <button (click)="giveUp()">Give up</button>
    <button (click)="passTurn()">Pass turn</button>
  </div>

  <div class="info-bar">
    @if (youWin()) {
      <h1>You win!</h1>
    }@else if (youLose()) {
      <h1>You lose!</h1>
    }@else {
      @if (selectedCharacter) {
        <h4>HP: {{selectedCharacter.hp}} {{selectedCharacter.name }} {{selectedCharacter.weapon}}</h4>
      }@else {
        <h4>HP:</h4>
      }
    }
  </div>

  <div class="board" [style.gridTemplateColumns]="'repeat(' + boardWidth + ', 50px)'"
    [style.gridTemplateRows]="'repeat(' + boardHeight + ', 50px)'">

    @for (item of tiles; track $index) {
      <div class="tile"  (click)="onTileClick(item)" [class.selected]="isSelectedTile(item)">

        @if (getCharacterAt(item)) {
          <img [src]="getCharacterAt(item)!.imageUrl" class="sprite" />
        }
      </div>
    }
  
  </div>

</div>