<div class="create-character-container">
  <form class="create-character-form" (ngSubmit)="createAllCharacters()" #createCharacterForm="ngForm">
    <h2>Create 3 Characters</h2>

    @for (form of characterForms; track form.id; let i = $index) {
      <div class="character-row">
        <strong>Character {{i + 1}}:</strong>

        <label for="color-{{form.id}}">Color:</label>
        <select id="color-{{form.id}}" [(ngModel)]="form.color" name="color-{{form.id}}">
          @for (c of colors; track c) {
            <option [value]="c">{{c}}</option>
          }
        </select>

        <label for="archetype-{{form.id}}">Archetype:</label>
        <select id="archetype-{{form.id}}" [(ngModel)]="form.archetype" name="archetype-{{form.id}}" (ngModelChange)="updateWeapons(i)">
          @for (a of archetypes; track a) {
            <option [value]="a">{{a}}</option>
          }
        </select>

        <label for="weapon-{{form.id}}">Weapon:</label>
        <select id="weapon-{{form.id}}" [(ngModel)]="form.weapon" name="weapon-{{form.id}}">
         @for (w of form.weapons; track trackByValue($index, w)) {
            <option [value]="w">{{w}}</option>
          }
        </select>
      </div>
    }

    <button type="submit">Create</button>
  </form>
</div>
